#homepageParent{
  display: flex;       /* Activates Flexbox layout */

}


.homepageBox {
  background-color: #eee;
  padding: 20px;
  flex: 1;            /* each box fills the row */
  text-align: center;
}

.login-page-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full viewport height */
  padding: 20px;
}